{% extends 'base.html' %}

{% block body %}
<!-- Media middle -->
    <div class="media border p-2">
        <img src="http://localhost:5000/video_stream" class="mr-3 img-thumbnail img-fluid">
        <div class="media-body">
            <a href="#" class="btn btn-outline-dark"><span class="fa fa-play"></span></a>
            <a href="#" class="btn btn-outline-dark"><span class="fa fa-pause"></span></a>
            <a href="#" class="btn btn-outline-dark"><span class="fa fa-stop"></span></a>
            <h1>TODO: Need to update content relevent to video</h1>
        </div>
    </div>
    
{% endblock body %}